body {
  padding-left: 15px;
  padding-right: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: white;

  background-color: rgb(39, 34, 34);

  overflow-x: hidden;
}

.notScrollable {
  overflow: hidden;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// HEADER

.header {
  padding-top: 16px;
  padding-bottom: 30px;

  display: flex;
  align-items: center;

  .title {
    margin-right: 150px;
  }

  .btn {
    height: 50px;
    width: 200px;
  }

  .btn + .btn {
    margin-left: 20px;
  }
}

.btn {
  display: inline-block;

  width: 110px;
  height: 36px;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;

  text-align: center;

  border: none;
  border-radius: 45px;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  cursor: pointer;

  &:hover {
    background: #2ee59d;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-7px);
  }

  &:disabled {
    background-color: gray;
    cursor: auto;
  }
}

// FORMS

.forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  height: 50px;
  width: 370px;

  padding: 5px;

  margin-bottom: 10px;

  border: 2px solid transparent;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(90, 48, 48);

  .input {
    height: 30px;
    width: 150px;

    border: 0;
  }

  .color {
    height: 26px;

    border: 0;
    border-radius: 4px;
  }
}

// CONTROLS

.controls-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;

  .item + .item {
    margin-left: 40px;
  }

  .btn + .btn {
    margin-left: 16px;
  }
}

// CARS
.cars {
  margin-top: 20px;

  .car {
    width: 100px;

    transform: translateY(37px);
  }

  .car-model {
    margin-left: 16px;

    padding: 5px;

    font-size: 18px;
    color: rgb(16, 147, 223);

    border-left: 2px solid tomato;
  }
}

// GARAGE

.garage {
  .title,
  .text {
    text-align: center;
  }
}

// WAY

.way {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border-bottom: 4px solid rgb(12, 116, 110);

  .car-control-container {
    display: flex;
  }

  .engine-panel {
    display: flex;
    flex-direction: column;

    margin-top: 12px;
    margin-right: 16px;
    margin-bottom: 10px;

    .engine-icon {
      background: transparent;
      border: 2px solid;
      border-radius: 2px;

      font-size: 22px;

      cursor: pointer;
    }

    .engine-icon:disabled {
      color: gray;
      cursor: auto;
    }

    .engine-icon.enabling {
      color: yellow;
    }
  }

  .start-engine-btn {
    margin-bottom: 10px;

    color: lawngreen;
  }

  .stop-engine-btn {
    color: red;
  }

  .finish {
    margin-top: -80px;

    transform: translateY(52px) translateX(-120px);

    font-size: 60px;
  }
}

// WIN MESSAGE

.win-message {
  position: fixed;
  top: 50%;
  left: calc(50% - 250px);

  width: 500px;

  font-size: 50px;
  color: rgb(8, 8, 8);
  text-align: center;
  background-color: chartreuse;

  border-radius: 8px;
}

// WINNERS PAGE

.winners-page {
  text-align: center;
}

table {
  margin: 0 auto;
  margin-bottom: 20px;

  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
th {
  background: #41a889;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgb(8, 8, 8);
}
th:first-child,
td:first-child {
  text-align: left;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #65636b;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
tr td:last-child {
  border-right: none;
}

.table-button {
  cursor: pointer;
  user-select: none;
}

.table-button.asc::after {
  content: '↑';
}
.table-button.desc::after {
  content: '↓';
}

// PAGINATION

.pagination {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;

  .btn {
    width: 80px;

    font-size: 30px;
    font-weight: 700;
  }

  .btn + .btn {
    margin-left: 30px;
  }
}
